body {
    background-color: beige;
}

h1, h2, p {
    text-align: center;
}

#usercenteredmap {
    margin: auto;
    height: 500px;
    width: 500px;
}

#saltlakecenteredmap {
    margin: auto;
    height: 500px;
    width: 500px;
}